<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historico</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Data</td>
        <td>Temperatura</td>
        <td>Sensação Termica</td>
        <td>Dew</td>
        <td>Umidade</td>
    </tr>
    </thead>
    <tbody>
    {% for item in historico %}
        <tr>
            <td>{{ item.time }}</td>
            <td>{{ item.temp }}</td>
            <td>{{ item.feels }}</td>
            <td>{{ item.dew }}</td>
            <td>{{ item.humidity }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>